body{
    margin-top: 2%;
    text-align: center;
    color: #3d3d3d;
    font-family: 'Lucida Sans', 'Lucida Sans Regular', 'Lucida Grande', 'Lucida Sans Unicode', Geneva, Verdana, sans-serif;
}

main {
    background-color: #f4f4f4;
    margin-left: 30%;
    margin-right: 30%;
    padding: 0 0 7% 0;
    box-shadow: 0 5px 5px #999;
}

h1 { 
    font-size: 40px;
    font-weight: bolder;
    letter-spacing: 5px; 
    line-height: 1; 
    margin-bottom: 30px;
    margin-top: 0;
}

button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 22px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #5434d8;
    border: none;
    border-radius: 50px;
    box-shadow: 0 5px #999;
}

button:active {
  box-shadow: 0 5px #666;
  transform: translateY(4px);
}

.display-area{
    font-size: xx-large;
    font-weight: bold;
    margin-top: 7px;
    margin-bottom: 7px;
}

#img-wa-logo {
    width: 15%;
    display: block;
    margin-left: auto;
    margin-bottom: -15px;
}